
/* Mobile screens */
  @media screen and (min-width: 320px){

          #newsletter-popup{
            margin: 250px auto;
            padding-left: 2%;
            background: white;
            width: 80%;
            height: 60%;
            position: relative;
            transition: all 5s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
          }
    
          .newsletter-overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: visible;
            opacity: 1;
            display: none;
          }
    
          .newsletter-in {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
          }

          .newsletter-in-div{
            width: 100%; 
            height:15em; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-around; 
            align-items: flex-start;
            }

           .newsletter-in-div-2{
            height: 40%;
           } 
    
          #newsletter-popup h3{
            color: black;
            font-size: large;
            margin: 0 0 10px;
          }
    
          #newsletter-popup .popup-close{
            color: grey;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            text-decoration: none;
            line-height: 30px;
            font-weight:lighter;
            align-self: flex-end;
          }
    
          #popup-input-text:focus {
            outline: none;
          }
    
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 90%;
  }

  .header-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header-top-left {
    display: none;
  }

  .header-top-right {
    padding-right: 0.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accounts {
    display: none;
  }

  #currency {
    color: grey;
    font-size: x-small;
    border: none;
  }

  #currency:focus{
    outline: none;
  }

  .language-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-right: 35%;
  }

  #languages {
    color: grey;
    font-size: x-small;
    border: none;
  }

  #languages:focus{
    outline: none;
  }
  
  .socials {
    width: 20%;
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header-middle {
    margin-top: 1%;
    display: none
}

.search-bar {
    display: none;
}

.my-profile {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#user-logo {
    display: none;
}

.header-text-mid {
    display: none;
}

#p-2 {
    color: black;
    font-size: large;
}

.font-logo {
    color: black;
    position: absolute;
    z-index: -1;
}
#i-1 {
    right: 15%;
    top: 5%;
    font-size: 24px
}

#i-2 {
    right: 2%;
    top: 5%;
    font-size: 25px;
}

.i-class {
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: red;
    font-size: small;
    padding: 0.5px;
}

#i-11 {
    right: 12%;
    top: 4.5%;
}

#i-22 {
    right: 0.5%;
    top: 4.5%;
}

.depsP{
    display: none;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1%;
}

.nav-bar-left {
    width: 55%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu-list {
    width: 10% ;
    min-width: fit-content;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 5%;
}

.five-items {
    display: none;
}

.nav-bar-right {
    display: none;
}

.contact {
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1

}

.container-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
    min-height: 35em;

}

.poster {
    margin-top: 5%;
    width: 95%;
    height: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    background-image: url(/images/Ekran\ Resmi\ 2022-11-15\ 17.27.26.png);
    background-position: center;
    background-size:cover;
}

#poster-img {
    display: none;
}

.poster-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}

.btn-left {
font-size:medium; font-weight:lighter; border: none; background-color: rgb(247, 247, 247);
padding-left: 0;
padding-right: 0;

}

.btn-right {
font-size:medium; font-weight:lighter; border: none; background-color: rgb(247, 247, 247);
padding-left: 0;
padding-right: 0;
}

.text-1 {
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-1-p-1 {
    font-size: 32px;
    margin-bottom: 0;
    align-self: flex-start;
}

#text-1-p-2 {
    font-size: 36px;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 0;
}

.text-2 {
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-2-p-1 {
    font-size: 32px;
    justify-self: start;
    margin-top: 0;
    margin-bottom: 0;
}

#text-2-p-2 {
    font-size: 36px;
    margin-top: 0;
    align-self: flex-end;
}

.poster-left-text p {
    font-size: 32px;
}

.poster-white-text {
    height: fit-content;
    color: #fff;
    text-shadow: -1px 1px 0 rgb(238, 236, 236),
    1px 1px 0 rgb(238, 236, 236),
    1px -1px 0 rgb(238, 236, 236),
    -1px -1px 0 rgb(238, 236, 236);

}

.poster-black-text {
    height: fit-content;
    font-weight: bolder;
}

.poster-right {
    display: none;
}

.poster-right-mb {
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.content {
    width: 65%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.content-title {
    font-weight: bolder;
    font-size: medium;
}

.content p {
    width: 20%;
    justify-self: end;

}
.content-span {
    margin-left: 5%;
    height: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    width: 60%;
    background-color: rgb(214, 105, 105);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-3grad);
    font-weight: bold;

}

#content-span-1 {
    width: 25%;
    font-size: 20px;
    text-align: end;
    align-self: flex-start;
}

#content-span-2 {
    width: 50%;
    font-size: 32px;
}

#content-span-3 {
    margin-left: 5px;
    width: 20%;
    font-size: 15px;
    text-align: start;
    justify-self: center;
}

.container-cards {
    width: 90%;
    height: 50%;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.card {
    height: 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.card-title {
    margin-top: 2%;
    font-size: large;
    display: none;
}

.card-product {
    margin-top: 0%;
    color: grey; font-size: x-small; margin-top: 2%;
    display: none;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;

}

.card-mb {
    display: none;
}

.img-style {
    width:50%; 
    border-radius: 50%;
    padding: 1%;
}

.arrow-mb {
padding-bottom: 20px;
}

.container-offer{
    width: 90%;
    height: 120em;
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;

}

.special-offers-text {
display:flex; 
flex-direction: row; 
align-items:center; 
justify-content:flex-start;
margin-left: 5%;
}

.percent-class-p{
margin-left: 5%; font-weight:bold; font-size: large;
}

#mb-view {
    display: block;
}

#desktop-view{
    display: none;
}

.container-offer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.container-content-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
    border: solid 2px blue;
}

.left-top {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.left-top-offer {
flex-direction: column; 
background-color:rgb(235, 231, 225); 
border: none; 
border-radius: 20px; 
padding: 2% 10%; 
width: 70%; 
height:15%;
margin-top: 5%;
}

.offer-span-1{
    color: grey; font-size: small; border: none; text-align: center;
}

.offer-span-2{
    color: rgb(85, 84, 84); font-weight: bold; text-align: center; margin-top: 2%;
}

.left-bottom{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

#rating-offer{
    color: grey; font-size: small; border: none; text-align: center;
}

.span-price-1 {
color: grey; font-size: small; font-weight: bold;
}

.span-price-2{
font-size: small; font-weight: bold; margin-left: 5%;
color: rgb(78, 78, 78);
}

.offer-btn{
    width: 100%; height: 70%; background-color: blue; padding: 10% 10% 10% 10%; border:solid blue; border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container-content-right {
    display: none;
}

.container-items {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
}

    
.item-card {
    height: 100%;
    width: 100%;
    border: solid 2px rgb(189, 188, 188);
    border-top: none;
}

.item-card-below{
    display: flex; flex-direction: column; justify-content: center
}

.items-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}

.mobile-items-right{
    border-left: none;
}

.sub-items-mobile{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sub-item-mobile-top{
height: 60%; display: flex; flex-direction: column; align-items: flex-start; justify-content: start; padding-top: 5%; padding-left: 5%;
}

.sub-item-mobile-bottom {
display: flex; flex-direction:row; justify-content: space-between;
}

.gray-small {
    color: grey; font-size: x-small;
}

.gray-sm-f {
    color: grey; font-size: small;
}

.p-class {
    line-height: 0.5;margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: medium;
}

.p-class-price {
    color: rgb(88, 88, 88); 
    font-size: small;
    font-weight: bold;
    line-height: 0.2;margin-top: 5px;
}

.heart-item {
    font-size:15px; 
    padding-right: 5%;
}

.white-heart {
    color: #fff;
    text-shadow: -1px 1px 0 rgb(238, 236, 236),
    1px 1px 0 rgb(238, 236, 236),
    1px -1px 0 rgb(238, 236, 236),
    -1px -1px 0 rgb(238, 236, 236);
}

.hot-class {
    height: 60%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: start; 
    padding-top: 2%; padding-left: 5%;
}

.parent-flex {
    height: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.checked {
    color: grey;
}

#btnClick:hover {
    cursor: pointer;
}  
    
.subscribe-part {
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.subs-left {
width: 90%; 
height: 100%; 
display: flex; 
flex-direction: column;
align-items: center; 
justify-content: center;
}

.subscribe-input {
    width: 90%;
    height: 95%;
    border: solid 2px grey;
    border-radius: 10px 0px 0px 10px;
    border-right-style: none;
}

.subscribe-input:focus {
    outline: none;
}

#subs-btn {
height: 100%;
border: solid 2px blue;
border-radius: 0px 10px 10px 0px;
background-color: blue;
}


.sub-subs-left{
    height: 25%; 
    display: flex; 
    flex-direction: column;
    align-items: start; 
    margin-right: 5%; 
    padding-right: 2%;
}
.sub-p-view{
    font-weight: bold; font-size:large
}
.p-class-2 {
        line-height: 1.25;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: medium;
}
.sub-subs-left-bottom{
        margin-top: 2%;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
}

.subs-right {
width: 95%; 
height: 10%; 
display: flex; 
justify-content: end; 
align-items: flex-end;

}

.subs-btn-2{
    width: 40%; 
    height: 100%; 
    color: white; 
    text-decoration: none; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: x-small;
}

.footer{
    width: 90%;
}

.border-socials {
    width: 100%;
    margin-left: 10%;
    margin-right: 25%;
    height: 2em;
    border: solid 1px rgb(211, 209, 209);
    border-radius: 50px;
}

.footer-container{
    width: 90%;
    margin-bottom: 5%;
}

.socials-p {
    width: 100%;
    white-space: nowrap;
}



.newsletter-overlay {
    display: none;
}

#main {
    transition: margin-left .5s;
  }

  .grey{
    color: rgb(203, 202, 202);

  }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }







  
}

/* ====================================================== */

/* Laptop screens */
  @media screen and (min-width: 1024px){
    body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    /* Head part starts */
    
                /* Top part starts */
          header {
            display: flex;
            flex-direction: column;
            margin: 1%;
            width: 90%;
          }
    
          .header-top {
            width: 100%;
            display: flex;
            align-content: flex-start;
            justify-content: space-between;
          }
    
          .header-top-left {
            padding-left: 0.5%;
            width: 20%;
            display: flex;
            align-items: center;
            justify-items: flex-start;
            gap: 1em;
            color: grey;
            font-size: small;
            /* background-color: rgb(223, 235, 235); */
          }
    
          .header-top-right {
            padding-right: 0.5%;
            margin-right: -3%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            justify-items: flex-start;
            gap: 1em;
            color: grey;
            font-size: small;
          }
    
          #currency {
            color: grey;
            font-size: small;
            border: none;
    
          }
    
          #currency:focus{
            outline: none;
          }
    
          .language-div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1px;
            width: 10%;
            margin-right: 0;
          }
    
          #languages {
            color: grey;
            font-size: small;
            border: none;
          }
    
          #languages:focus{
            outline: none;
          }
    
          .headerBtn {
            width: 20%;
            color: grey;
            font-size: small;
            border: none;
            background-color: #fff;
            text-decoration: none;
          }
    
          .socials {
            width: 20%;
            padding-top: 1%;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }

            /* Top part ends */
    
            /* Middle part starts */
        .header-middle {
            margin-top: 1%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        /* Height can be changed later */
        .search-bar {
            display: flex;
            width: 60%;
            height: 2em;
            align-items: center;
            justify-content: flex-start;
            border: 2px solid blue;
            border-radius: 10px;
        }
    
        .search-input {
            width: 75%;
            height: 80%;
            border: none;
            border-radius: 15px;
            padding-left: 1%;
    
        }
    
        .search-input:focus {
        outline: none;
          }
    
        #search-drop-down{
            width: 20%;
            height: 100%;
            color: grey;
            font-size: small;
            border: none;
        }
    
        #search-drop-down:focus {
            outline: none;
        }
    
        #a-search {
            padding: 0;
            width: 5%;
            height: 100%;
            background-color:blue;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid blue;
            border-radius: 0px 10px 10px 0px;
        }
    
        #findBtn {
            color: #fff;
            border: none;
        }
    
        .my-profile {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
        }
    
        #user-logo {
            display: block;
            height: 100%;
        }
    
        .header-text-mid {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: flex-start;
            color: grey;
            font-size: small;
        }
    
        #p-2 {
            color: black;
            font-size: large;
        }
    
        .font-logo {
            color: black;
            position: absolute;
            z-index: -1;
        }
        /* Needs to be adjusted according to screen size */
        #i-1 {
            font-size:36px;
            right: 6%;
            top: 7%;
        }
    
        #i-2 {
            font-size:36px;
            right: 2%;
            top: 7%;
        }
    
        .i-class {
            z-index: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: #fff;
            background-color: red;
            font-size: small;
            padding: 0.5px;
        }
    
        #i-11 {
            right: 5%;
            top: 6.5%;
        }
    
        #i-22 {
            right: 1.5%;
            top: 6.5%;
        }
    
            /* Mid part ends */
    
            /* Bottom part starts */
        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 1%;
        }
    
        .nav-bar-left {
            width: 55%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
        .menu-list {
            width: 20% ;
            min-width: fit-content;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: blue;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
        }
    
        .five-items {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: large;
            border: none;
        }
    
        .five-items a {
        text-decoration: none;
        color: rgb(85, 84, 84);
        }
    
        .nav-bar-right {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    
        .nav-bar-right a {
        text-decoration: none;
        color: rgb(85, 84, 84);
        }
    
        .contact {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            /* Bottom part ends */
        /* Head part ends */
    
        .selected {
            color: blue;
        }
    
        .z-menu {
            width: 90%;
            height: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            border-bottom: solid 1px grey;
            border-left: solid 1px grey;
            padding: 5% 10%;
            background-color: rgb(247, 247, 247);
        }
    
    
    
        /* Main content start */
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .container-main {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(247, 247, 247);
        }
    
        .poster {
            margin-top: 1%;
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #fff;
            background-image: none;
        }
        #poster-img {
            display: block;
            width: 40%;
        }
       
    
        .poster-left-text {
            margin-right: 0;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            background-color: #fff;
        }
    
        .text-1 {
            height:fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #text-1-p-1 {
            font-size: 56px;
            margin-bottom: 0;
            align-self: flex-start;
        }
    
        #text-1-p-2 {
            font-size: 56px;
            justify-self: end;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .text-2 {
            height:fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #text-2-p-1 {
            font-size: 48px;
            justify-self: end;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        #text-2-p-2 {
            font-size: 56px;
            margin-top: 0;
            align-self: flex-end;
        }
    
        .poster-left-text p {
            font-size: 48px;
        }
    
        .poster-white-text {
            height: fit-content;
            color: #fff;
            text-shadow: -1px 1px 0 rgb(238, 236, 236),
            1px 1px 0 rgb(238, 236, 236),
            1px -1px 0 rgb(238, 236, 236),
            -1px -1px 0 rgb(238, 236, 236);
    
        }
    
        .poster-black-text {
            height: fit-content;
            font-weight: bolder;
        }
    
        .poster-right {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: #fff;
        }
    
        .content {
            width: 100%;
            display: flex;
            height: fit-content;
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;
        }
    
        .content-title {
            font-weight: bolder;
            font-size: x-large;
        }
    
        .content p {
            width: 20%;
            justify-self: end;
    
        }
        .content-span {
            margin-left: 5%;
            height: fit-content;
            padding-top: 5%;
            padding-bottom: 5%;
            padding-right: 10%;
            padding-left: 10%;
            width: 60%;
            background-color: rgb(214, 105, 105);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-3grad);
            font-weight: bold;
    
        }
    
        #content-span-1 {
            width: 25%;
            font-size: 20px;
            text-align: end;
            align-self: flex-start;
        }
    
        #content-span-2 {
            width: 50%;
            font-size: 42px;
        }
    
        #content-span-3 {
            margin-left: 5px;
            width: 25%;
            font-size: 20px;
            text-align: start;
            justify-self: center;
        }
    
        /* Card container starts */
    
        .container-cards {
            width: 90%;
            min-width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            margin-top: 2%;
            height: 100%;
            min-height: 50%;
            align-items: center;
        }
    
        .card {
            height: 50%;
            padding: 1%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            margin-bottom: 2%;

    
        }
    
        .card-title {
            margin-top: 2%;
            font-size: large;
        }
    
        .card-product {
            margin-top: 0%;
            color: grey; font-size: x-small; margin-top: 2%;
    
        }
    
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 50%;
    
        }
    
        .img-style {
            width:70%;
            border-radius: 50%;
            padding: 1%;
        }
    
        /* Card container ends */
    
        /* Special offer starts */
    
        .container-offer{
            width: 85%;
            height: 50em;
            display: flex;
            flex-direction: column;
            margin-bottom: 10em;
    
        }
    
    
        .container-offer-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
    
    
        }
    
        .container-content-left {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2%;
            align-items: center;
            border: solid 2px blue;
        }
    
        .left-top {
            width: 95%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
        }
    
        .left-bottom{
            width: 80%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
        }
    
        .container-content-right {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    
        .container-items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
        }
    
        .item-card {
            height:100%;
            width: 25%;
            border: solid 2px rgb(189, 188, 188);
            border-left-style: none;
        }
    
        .gray-small {
            color: grey; font-size: 7px;
        }
    
        .gray-sm-f {
            color: grey; font-size: small;
        }
    
        .heart-item {
            font-size:15px;
            padding-right: 3%;
        }
    
        .white-heart {
            color: #fff;
            text-shadow: -1px 1px 0 rgb(238, 236, 236),
            1px 1px 0 rgb(238, 236, 236),
            1px -1px 0 rgb(238, 236, 236),
            -1px -1px 0 rgb(238, 236, 236);
        }
    
        .p-class {
            line-height: 0.5;margin-top: 5px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    
        .p-class-price {
            color: rgb(88, 88, 88);
            font-size: large;
            font-weight: bold;
    
        }
    
        .hot-class {
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            padding-top: 2%; padding-left: 5%;
        }
    
        .parent-flex {
            height: 5;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    
        .checked {
            color: grey;
        }
  
        #btnClick:hover {
            cursor: pointer;
        }
    
        .subscribe-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5em;
            margin-top: 5%;
        }
    
        .subscribe-input {
            width: 60%;
            height: 95%;
            border: solid 2px grey;
            border-radius: 10px 0px 0px 10px;
            border-right-style: none;
        }
    
        .subscribe-input:focus {
            outline: none;
        }
    
        #subs-btn {
        height: 100%;
        border: solid 2px blue;
        border-radius: 0px 10px 10px 0px;
        background-color: blue;
        }
        /* Main content ends */
    
        /* Footer starts */
    
        .footer {
            margin-top: 5%;
            width: 90%;
            height: 25em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
        }
    
        .footer-container {
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            justify-items: center;
            align-items: flex-start;
            margin-top: 3%;
            margin-bottom: 5%;
        }
    
        .border-socials {
            width: 100%;
            margin-left: 2%;
            height: 2em;
            border: solid 1px rgb(211, 209, 209);
            border-radius: 50px;
        }
    
        /* Footer ends */
    
    
        h1{
            text-align: center;
            font-size: 70px;
            margin: 150px 0;
            display: block;
          }
    
          #newsletter-popup{
            margin: 250px auto;
            padding-left: 2%;
            background: white;
            width: 50%;
            height: 30%;
            position: relative;
            transition: all 5s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
          }
    
          .newsletter-overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: visible;
            opacity: 1;
            display: none;
          }
    
          .newsletter-in {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
          }

          .newsletter-in-div{
        width: 60%; 
        height:15em; 
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        align-items: flex-start;
        }
          .newsletter-in-div-2{
            height: 100%;
          } 
    
          #newsletter-popup h3{
            color: black;
            font-size: x-large;
            margin: 0 0 10px;
          }
    
          #newsletter-popup .popup-close{
            color: grey;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            text-decoration: none;
            line-height: 30px;
            font-weight:lighter;
            align-self: flex-end;
          }
    
          #popup-input-text:focus {
            outline: none;
          }
        /* Do not take these */
    
    
    .accounts {
    display:flex; justify-content: space-between; width:40%;
    }
    
    .depsP {
    display: block;
    margin-left: 5%; font-size: small; white-space: nowrap; font-weight: bold;
    }
    
    .nav-img {
    display: none;
    }
    
    .for-mobile{
    display: none;
    }
    
    main {
    z-index: -1;
    }






.poster-right-mb{
    display:none
}

.btn-right {
    font-size:x-large; font-weight:lighter; border: none; background-color: rgb(247, 247, 247);
}

.btn-left{
border: none; background-color: rgb(247, 247, 247); font-size:x-large; font-weight:lighter; z-index: 0; position: relative;}

.card-mb {
    display: block;
}

.card-title {
    display: block;
}

.card-product {
    display: block;

}

.arrow-mb {
    display: none
}

.special-offers-text {
display:flex; flex-direction: row; align-items:center; justify-content:flex-start;
}

.percent-class-p{
margin-left: 1%; font-weight:bold; font-size: x-large;
}

#mb-view {
    display: none;

}

#desktop-view{
    display: block;
}

.left-top-offer {
flex-direction: column; 
background-color:rgb(235, 231, 225); 
border: none; 
border-radius: 20px; 
padding: 2% 10%; 
width: 70%; 
height:10%;
}

.offer-span-1{
    color: grey; font-size: small; border: none; text-align: center;
}

.offer-span-2{
    color: rgb(85, 84, 84); font-weight: bold; text-align: center; margin-top: 2%;
}

.span-price-1 {
color: grey; font-size: small; font-weight: bold;
}

.span-price-2{
font-size: medium; font-weight: bold; margin-left: 5%;
}


.offer-btn{
    width: 100%; 
    height: 90%; 
    background-color: blue; 
    padding: 5% 10% 10% 10%; 
    border:solid blue; 
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chart-btn{
    margin-top: 5%;
}

/* 
.container-content-right {

}    // => kontrol et mutlaka display flex olmalı */

.items-mobile {
display:none
}




.subs-left {
width: 35%; 
height: 100%; 
display: flex; 
flex-direction: row;
align-items: center; 
justify-content: center;
}

.sub-subs-left{
height: 100%; 
display: flex; 
flex-direction: row;
justify-content: center;
align-items: start; 
margin-right: 0; 
padding-right: 2%;
}

.sub-p-view{
font-weight: bold; font-size:large
}

    .subs-right {
    width: 65%; 
    height: 50%; 
    display: flex; 
    justify-content: end; 
    align-items: flex-end;
    }

    .subs-btn-2{
width: 30%; height: 100%; color: white; text-decoration: none; display: flex; justify-content: center; align-items: center;
    }
    
}
    
    
/* ====================================================== */


/* Big screens */
@media screen and (min-width: 1440px){
    #newsletter-popup{
    width: 70%;
    }
    
    .accounts {
    display:flex; justify-content: space-between; width:40%
    }
    
    body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    /* Head part starts */
    
            /* Top part starts */
    
    header {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 90%;
    }
    
    .header-top {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    }
    
    .header-top-left {
    padding-left: 0.5%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 1em;
    color: grey;
    font-size: small;
    /* background-color: rgb(223, 235, 235); */
    }
    
    .header-top-right {
    padding-right: 0.5%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    #currency {
    color: grey;
    font-size: small;
    border: none;
    
    }
    
    #currency:focus{
    outline: none;
    }
    
    .language-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    }
    
    #languages {
    color: grey;
    font-size: small;
    border: none;
    }
    
    #languages:focus{
    outline: none;
    }
    
    .headerBtn {
    width: 20%;
    color: grey;
    font-size: small;
    border: none;
    background-color: #fff;
    text-decoration: none;
    
    }
    
    .socials {
    width: 20%;
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    /* Top part ends */
    
        /* Middle part starts */
    
    .header-middle {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    /* Height can be changed later */
    .search-bar {
    display: flex;
    width: 60%;
    height: 2em;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid blue;
    border-radius: 10px;
    }
    
    .search-input {
    width: 75%;
    height: 80%;
    border: none;
    border-radius: 15px;
    padding-left: 1%;
    
    }
    
    .search-input:focus {
    outline: none;
    }
    
    #search-drop-down{
    width: 20%;
    height: 100%;
    color: grey;
    font-size: small;
    border: none;
    }
    
    #search-drop-down:focus {
    outline: none;
    }
    
    #a-search {
    padding: 0;
    width: 5%;
    height: 100%;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    border-radius: 0px 10px 10px 0px;
    }
    
    #findBtn {
    color: #fff;
    border: none;
    }
    
    .my-profile {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    
    #user-logo {
    height: 100%;
    }
    
    .header-text-mid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    color: grey;
    font-size: small;
    }
    
    #p-2 {
    color: black;
    font-size: large;
    }
    
    .font-logo {
    color: black;
    position: absolute;
    z-index: -1;
    }
    /* Needs to be adjusted according to screen size */
    #i-1 {
    right: 8.5%;
    top: 8%;
    }
    
    #i-2 {
    right: 4.5%;
    top: 8%;
    }
    
    .i-class {
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: red;
    font-size: small;
    padding: 0.5px;
    }
    
    #i-11 {
    right: 8%;
    top: 7.5%;
    }
    
    #i-22 {
    right: 4%;
    top: 7.5%;
    }
    
        /* Mid part ends */
    
        /* Bottom part starts */
    
    .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    }
    
    .nav-bar-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .menu-list {
    width: 20% ;
    min-width: fit-content;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    }
    
    .five-items {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    border: none;
    }
    
    .five-items a {
    text-decoration: none;
    color: rgb(85, 84, 84);
    }
    
    .nav-bar-right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    
    .nav-bar-right a {
    text-decoration: none;
    color: rgb(85, 84, 84);
    }
    
    .contact {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    /* Bottom part ends */
    /* Head part ends */
    
    .selected {
    color: blue;
    }
    
    .z-menu {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
    padding: 5% 10%;
    background-color: rgb(247, 247, 247);
    }
    
    /* Main content start */
    main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .container-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
    }
    
    .poster {
    margin-top: 1%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    }
    
    .poster-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    }
    
    .text-1 {
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    #text-1-p-1 {
    font-size: 56px;
    margin-bottom: 0;
    align-self: flex-start;
    }
    
    #text-1-p-2 {
    font-size: 56px;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 0;
    }
    
    .text-2 {
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    #text-2-p-1 {
    font-size: 48px;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 0;
    }
    
    #text-2-p-2 {
    font-size: 56px;
    margin-top: 0;
    align-self: flex-end;
    }
    
    .poster-left-text p {
    font-size: 48px;
    }
    
    .poster-white-text {
    height: fit-content;
    color: #fff;
    text-shadow: -1px 1px 0 rgb(238, 236, 236),
    1px 1px 0 rgb(238, 236, 236),
    1px -1px 0 rgb(238, 236, 236),
    -1px -1px 0 rgb(238, 236, 236);
    
    }
    
    .poster-black-text {
    height: fit-content;
    font-weight: bolder;
    }
    
    .poster-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }
    
    .content {
    width: 80%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    }
    
    .content-title {
    font-weight: bolder;
    font-size: x-large;
    }
    
    .content p {
    width: 20%;
    justify-self: end;
    
    }
    .content-span {
    margin-left: 5%;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    width: 60%;
    background-color: rgb(214, 105, 105);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-3grad);
    font-weight: bold;
    
    }
    
    #content-span-1 {
    width: 25%;
    font-size: 20px;
    text-align: end;
    align-self: flex-start;
    }
    
    #content-span-2 {
    width: 50%;
    font-size: 52px;
    }
    
    #content-span-3 {
    margin-left: 5px;
    width: 25%;
    font-size: 20px;
    text-align: start;
    justify-self: center;
    }
    
    /* Card container starts */
    
    .container-cards {
    width: 90%;
    min-width: fit-content;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .card {
    height: 50%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    
    }
    
    .card-title {
    margin-top: 2%;
    font-size: large;
    }
    
    .card-product {
    margin-top: 0%;
    color: grey; font-size: x-small; margin-top: 2%;
    
    }
    
    .center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    
    }
    
    .img-style {
    width:70%;
    border-radius: 50%;
    padding: 1%;
    }
    
    /* Card container ends */
    
    /* Special offer starts */
    
    .container-offer{
    width: 85%;
    height: 50em;
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
    }
    
    .container-offer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    }
    
    .container-content-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
    border: solid 2px blue;
    }
    
    .left-top {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    }
    .left-top-offer {
        flex-direction: column; 
        background-color:rgb(235, 231, 225); 
        border: none; 
        border-radius: 20px; 
        padding: 2% 10%; 
        width: 70%; 
        height:10%;
        }
    
    .left-bottom{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    }
    
    .container-content-right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }
    
    .container-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    }
    
    .item-card {
    height: 100%;
    width: 25%;
    border: solid 2px rgb(189, 188, 188);
    border-left-style: none;
    }
    
    .gray-small {
    color: grey; font-size: x-small;
    }
    
    .gray-sm-f {
    color: grey; font-size: small;
    }
    
    .heart-item {
    font-size:15px;
    padding-right: 3%;
    }
    
    .white-heart {
    color: #fff;
    text-shadow: -1px 1px 0 rgb(238, 236, 236),
    1px 1px 0 rgb(238, 236, 236),
    1px -1px 0 rgb(238, 236, 236),
    -1px -1px 0 rgb(238, 236, 236);
    }
    
    .p-class {
    line-height: 0.5;margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    }
    
    .p-class-price {
    color: rgb(88, 88, 88);
    font-size: large;
    font-weight: bold;
    
    }
    
    .hot-class {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 2%; padding-left: 5%;
    }
    
    .parent-flex {
    height: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
    
    .checked {
    color: grey;
    }
    
    #btnClick:hover {
    cursor: pointer;
    }
    
    .subscribe-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10em;
    margin-top: 5%;
    }
    
    .subscribe-input {
    width: 60%;
    height: 95%;
    border: solid 2px grey;
    border-radius: 10px 0px 0px 10px;
    border-right-style: none;
    }
    
    .subscribe-input:focus {
    outline: none;
    }
    
    #subs-btn {
    height: 100%;
    border: solid 2px blue;
    border-radius: 0px 10px 10px 0px;
    background-color: blue;
    }
    /* Main content ends */
    
    /* Footer starts */
    
    .footer {
    margin-top: 5%;
    width: 90%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    }
    
    .footer-container {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: flex-start;
    margin-top: 3%;
    margin-bottom: 5%;
    }
    
    .border-socials {
    width: 100%;
    height: 2em;
    border: solid 1px rgb(211, 209, 209);
    border-radius: 50px;
    }
    
    /* Footer ends */
    
    h1{
    text-align: center;
    font-size: 70px;
    margin: 150px 0;
    display: block;
    }
    
    #newsletter-popup{
    margin: 250px auto;
    padding-left: 2%;
    background: white;
    width: 35%;
    height: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    }
    
    .newsletter-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    display: none;
    }
    
    .newsletter-in {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    
    #newsletter-popup h3{
    color: black;
    font-size: x-large;
    margin: 0 0 10px;
    }
    
    #newsletter-popup .popup-close{
    color: grey;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-weight:lighter;
    align-self: flex-end;
    }
    
    #popup-input-text:focus {
    outline: none;
    }
    
}
    



